CREATE Procedure [dbo].[WZ_RankingGuildReign]
@Name varchar(10),
@Guild varchar(8),
@Map smallint
AS
BEGIN

SET NOCOUNT ON
SET XACT_ABORT ON

IF NOT EXISTS (SELECT Guild FROM RankingGuildReign WHERE Guild=@Guild and Map=@Map)
BEGIN
	 INSERT INTO RankingGuildReign (Guild,Map,ConquerCount) VALUES (@Guild,@Map,1)
END
ELSE
BEGIN
	UPDATE RankingGuildReign SET ConquerCount=ConquerCount+1 WHERE Guild=@Guild and Map=@Map
END

SET NOCOUNT OFF
SET XACT_ABORT OFF

END


