CREATE Procedure [dbo].[WZ_RankingArcaBattle] 
@Account varchar(10),
@Name varchar(10),
@ContributePoint int,
@KillPoint int,
@BootyAmount int,
@Score int
AS
BEGIN

SET NOCOUNT ON
SET XACT_ABORT ON

IF NOT EXISTS (SELECT Name FROM RankingArcaBattle WHERE Name=@Name)
BEGIN

	 INSERT INTO RankingArcaBattle(Name,ContributePoint,KillPoint,BootyAmount,Score) VALUES (@Name,@ContributePoint,@KillPoint,@BootyAmount,@Score)

END
ELSE
BEGIN

	UPDATE RankingArcaBattle SET ContributePoint=ContributePoint+@ContributePoint,KillPoint=KillPoint+@KillPoint,BootyAmount=BootyAmount+@BootyAmount,Score=Score+@Score WHERE Name=@Name

END

SET NOCOUNT OFF
SET XACT_ABORT OFF

END
