
CREATE PROCEDURE [dbo].[WZ_CREATE_ACCOUNT]
@memb___id varchar(10),
@password  varchar(10)
 AS
BEGIN	
		DECLARE @ErrorCode int

		SET NOCOUNT ON
		
		SET @ErrorCode = 2
		
		INSERT INTO MEMB_INFO (memb___id,memb__pwd,memb_name,sno__numb,appl_days,mail_chek,bloc_code,ctl1_code,AccountLevel,AccountExpireDate)
		VALUES (@memb___id,  @password, 'AutoReg', 1, getdate(),0,0,1,0,getdate())
		
		IF( @@Error <> 0 )
		begin
			SET @ErrorCode = 1	
		end
		
		SET NOCOUNT OFF	
		
		select @ErrorCode
END