ALTER PROCEDURE [dbo].[WZ_GremoryCase_AddItem]
	@AccountID varchar(10),
	@Name	varchar(10),
	@StorageType int,
	@RewardSource int,
	@ItemID int,
	@ItemLevel int,
	@ItemDurability int,
	@ItemOp1 int,
	@ItemOp2 int,
	@ItemOp3 int,
	@ItemExcOption int,
	@ItemSetOption int,
	@ItemJoH int,
	@ItemOeX int,
	@ItemSocket1 int,
	@ItemSocket2 int,
	@ItemSocket3 int,
	@ItemSocket4 int,
	@ItemSocket5 int,
	@ItemSocketBonus int,
	@ItemDuration int,
	@ReceiveDate bigint,
	@ExpireDate bigint
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ItemsInStorage int
	SET @ItemsInStorage = (SELECT COUNT(*) FROM GremoryCase WHERE AccountID = @AccountID AND ((Name = @Name AND StorageType = 2) OR StorageType = 1))

	IF (@ItemsInStorage >= 50)
	BEGIN
		WHILE (@ItemsInStorage >= 50)
		BEGIN
			DELETE FROM GremoryCase WHERE AccountID = @AccountID AND ((Name = @Name AND StorageType = 2) OR StorageType = 1) AND ReceiveDate = 
			(SELECT MIN(ReceiveDate) FROM GremoryCase WHERE AccountID = @AccountID AND ((Name = @Name AND StorageType = 2) OR StorageType = 1))
			SET @ItemsInStorage = @ItemsInStorage - 1
		END
	END

	DECLARE @FreeItemGUID int
	SET @FreeItemGUID = 0

	WHILE (1 = 1)
	BEGIN
		IF NOT EXISTS (SELECT * FROM GremoryCase WHERE AccountID = @AccountID AND ((Name = @Name AND StorageType = 2) OR StorageType = 1) AND ItemGUID = @FreeItemGUID)
		BEGIN
			BREAK
		END
		SET @FreeItemGUID = @FreeItemGUID + 1
	END

	DECLARE @FreeAuthCode int
	SET @FreeAuthCode = 0

	WHILE (1 = 1)
	BEGIN
		SET @FreeAuthCode = ROUND(((2000000000 - 1 -1) * RAND() + 1), 0)
		IF NOT EXISTS (SELECT * FROM GremoryCase WHERE AuthCode = @FreeAuthCode)
		BEGIN
			BREAK
		END
	END

	INSERT INTO GremoryCase (AccountID, Name, StorageType, RewardSource, ItemGUID, AuthCode, ItemIndex, ItemLevel, ItemDurability, ItemSkill, ItemLuck, ItemOption, ItemExcOpt, ItemSetOpt, ItemJoH, ItemOex, ItemSocket1, ItemSocket2, ItemSocket3, ItemSocket4, ItemSocket5, ItemSocketBonus, ItemDuration, ReceiveDate, ExpireDate) VALUES
	(@AccountID, @Name, @StorageType, @RewardSource, @FreeItemGUID, @FreeAuthCode, @ItemID, @ItemLevel, @ItemDurability, @ItemOp1, @ItemOp2, @ItemOp3, @ItemExcOption, @ItemSetOption, @ItemJoH, @ItemOeX, @ItemSocket1, @ItemSocket2, @ItemSocket3, @ItemSocket4, @ItemSocket5, @ItemSocketBonus, @ItemDuration, @ReceiveDate, @ExpireDate)

	SELECT @FreeItemGUID AS ItemGUID, @FreeAuthCode AS AuthCode
END

