CREATE Procedure [dbo].[WZ_SetMarketCoin] 
@Account varchar(10),
@MarketID int
AS
BEGIN

SET NOCOUNT ON
SET	XACT_ABORT ON

DECLARE @Result tinyint
DECLARE @Item varbinary(16)

SET @Result = 0;
SET @Item = 0xFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF;

If EXISTS(SELECT MarketID FROM MarketPlace WHERE MarketID = @MarketID and ItemSold = 0)
BEGIN
	DECLARE @Value int
	DECLARE @AccountTarget varchar(10)
	SELECT @AccountTarget = AccountID,@Value = ItemValue FROM MarketPlace WHERE MarketID = @MarketID;

	If EXISTS(SELECT AccountID FROM MarketPlaceInfo WHERE AccountID = @Account and MarketCoin >= @Value)
	begin
		SET @Result = 1;
		UPDATE MarketPlaceInfo set MarketCoin = MarketCoin - @Value where AccountID = @Account;
		UPDATE MarketPlaceInfo set MarketCoin = MarketCoin + @Value where AccountID = @AccountTarget;
		
		SELECT @Item = ItemCode From MarketPlace WHERE MarketID = @MarketID
		
		UPDATE MarketPlace SET ItemSold = 1 WHERE MarketID = @MarketID
	end
		
	
END

SELECT @Result, @Item as ItemCode

SET NOCOUNT OFF
SET	XACT_ABORT OFF

END