
CREATE Procedure [dbo].[WZ_RankingDemonGuardian] 
@Account varchar(10),
@Name varchar(10),
@BossKill int,
@Kills int,
@Deaths int
AS
BEGIN

SET NOCOUNT ON
SET XACT_ABORT ON

IF NOT EXISTS (SELECT Name FROM RankingDemonGuardian WHERE Name=@Name)
BEGIN

	 INSERT INTO RankingDemonGuardian (Name,BossKill,Kills,Deaths) VALUES (@Name,@BossKill,@Kills,@Deaths)

END
ELSE
BEGIN

	UPDATE RankingDemonGuardian SET BossKill=BossKill+@BossKill,Kills=Kills+@Kills,Deaths=Deaths+@Deaths WHERE Name=@Name

END

SET NOCOUNT OFF
SET XACT_ABORT OFF

END
