ALTER PROCEDURE [dbo].[WZ_CREATE_ACCOUNT]
@memb___id varchar(10),
@password  varchar(10)
 AS
BEGIN	
		SET NOCOUNT ON
		SET	XACT_ABORT ON
			
		INSERT INTO MEMB_INFO (memb___id,memb__pwd,memb_name,sno__numb,appl_days,mail_chek,bloc_code,ctl1_code,AccountLevel,AccountExpireDate)
		VALUES (@memb___id,  @password, 'AutoReg', 1, getdate(),0,0,1,0,getdate())
		
		IF( @@Error = 0 )
			select 2
		ELSE
			SELECT 1
			
		SET NOCOUNT OFF
END